@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom fonts and styles */

@font-face {
  font-family: 'Futura';
  src: url('../public/fonts/Patinio Futura.ttf') format('truetype');
}

@font-face {
  font-family: 'Tuesday Vibes';
  src: url('../public/fonts/TuesdayVibes-09AR.otf') format('opentype');
}

/* brand name */

.futura {
  font-family: 'Futura', sans-serif;
}

/* for 'join the' text */

.tuesday-vibes {
  font-family: 'Tuesday Vibes';
}

/* big texts */

.special-gothic {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 800;
}

/* other informations */

.roboto {
  font-family: "Roboto", sans-serif;
  font-variation-settings: "wdth" 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Roboto", sans-serif;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.text-stroke-white {
  -webkit-text-stroke: 1px white;
}

.text-stroke-pink {
  -webkit-text-stroke: 1px #cb6ce6;
}

@keyframes slider {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.slider {
  transform: translateX(0);
  animation: slider 12s linear infinite;
}